
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-color: #fff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.align-text-center {
  text-align: center;
}

.app-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.sider-settings-header {
  font-weight: 600;
  font-size: 16px;
  margin: 12px 0 0 12px;
  color: #fff;
}

.app-content {
  margin: 24px 16px 0;
}

.app-content > div {
  padding: 24px;
  background: #fff;
  min-height: 78vh;
}

.logo {
  margin: 36px auto;
  width: 100px;
  height: 100px;
  pointer-events: none;
  color: #fff;
  background-image: url(./store-local.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
